#privacy{
    padding:100px 0px;
}
.privacy_text{
 padding-bottom: 40px;
}
.privacy_text h3{
    font-family: "poppins";
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    color:#282938;
}
.privacy_text p{
    padding:0px 30px;
    font-family: "poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color:#282938;
}
.privacy_alltext{
    width:70%;
    margin:0 auto;
}
.privacy_alltext h3{
    font-family: "poppins";
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    color:#282938;
}
.privacy_alltext p{
    font-family: "poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color:#282938;
}
ul{
    list-style: disc !important;
}