#features{
    padding:120px 0px;
    background-color: #1C1E53;
}
#log{
    padding:100px 0px;
}
#benefits{
    padding:100px 0px;
}
#revisions{
    padding:100px 0px; 
}
#support{
    padding:100px 0px; 
    background-color: #F4F6FC;
}
#delivery{
    padding:100px 0px; 
   background-color:#f3e7c5;
}